<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jjbars.jjbarscalisthenics">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mannohnegesicht_launcher"
        android:label="J&amp;JBars"
        android:theme="@style/AppTheme.NoActionBar"
        android:roundIcon="@mipmap/mannohnegesicht_launcher_round"
        android:supportsRtl="true">
        <activity android:name=".Home">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SavedWorkouts" />
        <activity android:name=".GenerateRandomWorkout" />
        <activity android:name=".CreateCustomWorkout" />
        <activity android:name=".show_workout"></activity>
    </application>

</manifest>